.add-book-section {
  width: 100%;
  padding-top: 2rem;
  border-top: 2px solid #e8e8e8;
}

.add-book-main-container {
  width: 100%;
  margin: 0 auto;
}

.add-book-main-container .title {
  font-size: 1.25rem;
  color: #888;
  font-family: 'Montserrat', sans-serif;
}

#add-book {
  width: 100%;
  margin-top: 2rem;
}

.add-input {
  flex: 1;
  border: 1px solid var(--boder-color);
  border-radius: 0.4rem;
  font-size: 1rem;
  color: #888888;
  padding: 0.7rem 1rem;
  margin-right: 1.5rem;
}

.add-input:focus {
  border: 1px solid var(--text-color);
}

.add-input::placeholder {
  color: #888888;
}

#add-book .right-container {
  width: 45%;
}

#add-book .right-container #select {
  width: 50%;
  max-width: 400px;
  height: 2.745rem;
  font-size: 1rem;
  border-radius: 0.4rem;
  border: 1px solid var(--boder-color);
  color: #888;
  padding: 0 0.5rem;
}

#add-book .right-container #select:focus {
  border: 1px solid var(--text-color);
  border-radius: 0.4rem;
}

#add-book .right-container .submut-btn {
  padding: 0.8rem 4rem;
  cursor: pointer;
  background-color: var(--text-color);
  font-size: 0.813rem;
  color: #fff;
  font-family: 'robotoSlab-bold', sans-serif;
  border-radius: 0.4rem;
}

#add-book .right-container .submut-btn:hover {
  background-color: #0382e4;
}
