.books-main-wrapper {
  width: 100%;
  margin-top: 2rem;
}

.book-list {
  width: 100%;
  margin: 0 auto;
  flex-direction: column;
}

.book-list .book {
  width: 100%;
  padding: 2rem 1rem;
  border: 0.11rem solid var(--boder-color);
  margin-bottom: 2rem;
}

.book-list .book .category {
  color: var(--primary-text-color);
  font-size: 1rem;
}

.book-list .book .title {
  font-size: 1.3rem;
  margin-bottom: 0.2rem;
  font-family: 'robotoSlab-bold';
}

.book-list .book .auth {
  font-size: 0.87rem;
  font-family: 'robotoSlab-light';
  color: var(--text-color);
}

.book-list .book .action-list {
  margin-top: 1rem;
}

.book-list .book .action-list .action {
  border-right: 2px solid var(--boder-color);
  padding-right: 1rem;
}

.book-list .book .action-list .action:last-child {
  border-right: 0;
}

.book-list .book .action-list .action a {
  font-size: 0.87rem;
  font-family: 'robotoSlab-light';
  color: var(--text-color);
}

.percentage {
  flex-direction: column;
}

.btn {
  padding: 0.5rem 1.5rem;
  border: 1px solid #000;
  cursor: pointer;
}

.action-list .action {
  margin-right: 1rem;
}
