.main-header-container {
  width: 100%;
  height: 6.25rem;
  border-bottom: 1.5px solid #e8e8e8;
}

.main-wrapper {
  width: 90%;
  height: 100%;
  margin: 0 auto;
}

.left-container {
  height: 100%;
}

.main-nav-bar {
  margin-left: 3rem;
}

.main-nav-bar .link-list {
  display: flex;
}

.main-nav-bar .link-list .link {
  margin-left: 1rem;
}
