@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200;300;400;500;600&display=swap');
@import url('./componentStyle/header.css');
@import url('./componentStyle/bookList.css');
@import url('./componentStyle/addBook.css');

body::-webkit-scrollbar {
  width: 10px;
}

body::-webkit-scrollbar-track {
  background: #f1f1f1;
}

body::-webkit-scrollbar-thumb {
  background: var(--text-color);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
}

@font-face {
  font-family: 'robotoSlab-bold';
  font-weight: normal;
  src: url('./fonts/RobotoSlab-Bold.ttf');
}

@font-face {
  font-family: 'robotoSlab-light';
  font-weight: normal;
  src: url('./fonts/RobotoSlab-Light.ttf');
}

@font-face {
  font-family: 'robotoSlab-regular';
  font-weight: normal;
  src: url('./fonts/RobotoSlab-Regular.ttf');
}

@font-face {
  font-family: 'robotoSlab-thin';
  font-weight: normal;
  src: url('./fonts/RobotoSlab-Thin.ttf');
}

:root {
  --text-color: #0290ff;
  --secondary-text-color: #121212;
  --primary-text-color: #535353;
  --boder-color: #e8e8e8;
}

/* Typography */

ul,
li {
  list-style: none;
}

button,
input,
select {
  outline: none;
  border: none;
  background-color: transparent;
}

a {
  text-decoration: none;
  cursor: pointer;
}

.flex-center {
  display: flex;
  align-items: center;
  justify-content: center;
}

.flex-start {
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.flex-between {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.flex-around {
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.flex-end {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.width-100 {
  width: 100%;
}

.App {
  width: 100%;
}

.container {
  width: 90%;
  margin: 0 auto;
  padding-bottom: 7rem;
}

.categories {
  margin-top: 12rem;
}

.categories p {
  margin-right: 5rem;
  font-size: 3rem;
  font-style: italic;
  font-family: 'robotoSlab-light', sans-serif;
  color: var(--text-color);
}

.categories .img-wrapper {
  width: 300px;
  height: 300px;
}

.categories .img-wrapper img {
  max-width: 100%;
}
